<div class="row">
    <div class="col-xl-12">
        <div class="card">

            <div class="card-header clearfix text-center">
                <a href="/block?number=<%=number-1%>" class="btn btn-outline-primary btn-sm float-left" role="button">Prev</a>
                <!-- <button type="button" class="btn btn-outline-primary btn-sm float-left">Prev</button> -->
                <span class="text-center">block #<%=number%></span>
                <a href="/block?number=<%=number+1%>" class="btn btn-outline-primary btn-sm float-right" role="button">Next</a>
            </div>
            <div class="card-body padding-0">
                <div class="table-responsive-sm">
                    <table class="table table-bordered">
                        <tbody>

                            <tr>
                                <td>Hash</td>
                                <td><%=hash%></td>
                            </tr>
                            <tr>
                                <td>Difficulty</td>
                                <td><%=difficulty%></td>
                            </tr>
                            <tr>
                                <td>Miner</td>
                                <td>
                                    <a href="/addr?a=<%=miner%>"><%=miner%></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Reward</td>
                                <td>3.30376 ETH</td>
                            </tr>
                            <tr>
                                <td>Tx Fees</td>
                                <td>0.30376 ETH</td>
                            </tr>
                            <tr>
                                <td>Tx / Uncles</td>
                                <td>
                                    <a href="#"><%=transactions.length%> Transactions</a> and
                                    <a href="#"><%=uncles.length%> Uncle</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Gas Limit:</td>
                                <td><%=gasLimit%></td>
                            </tr>
                            <tr>
                                <td>Gas Usage:</td>
                                <td><%=gasUsed%></td>
                            </tr>
                            <tr>
                                <td>Lowest Gas Price:</td>
                                <td>8,007,442</td>
                            </tr>
                            <tr>
                                <td>Time</td>
                                <td><%=timestamp%></td>
                            </tr>
                            <tr>
                                <td>Size</td>
                                <td><%=size%></td>
                            </tr>
                            <tr>
                                <td>Extra</td>
                                <td><%=extraData%></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer clearfix text-center">
                <a href="/block?number=<%=number-1%>" class="btn btn-outline-primary btn-sm float-left" role="button">Prev</a>
                <!-- <button type="button" class="btn btn-outline-primary btn-sm float-left">Prev</button> -->
                <span class="text-center">block #<%=number%></span>
                <a href="/block?number=<%=number+1%>" class="btn btn-outline-primary btn-sm float-right" role="button">Next</a>
            </div>
        </div>
    </div>
</div>