<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <div class="card card-success">
            <div class="card-header clearfix col-header">

                <span class="float-left">Recent blocks</span>
                <!-- <button type="button" class="btn btn-outline-primary btn-sm float-right">View all</button> -->

            </div>
            <div class="card-body scrollbar block-col style-1 padding-0">
                <ul class="list-group" id="list-blocks">
                    <%blocks.forEach(block => {%>
                        <li class="list-group-item list-group-item-<%=block.number%2==0?'secondary':'success'%>">
                            <div class="row">
                                <div class="col-12">
                                    block
                                    <a href="/block?number=<%=block.number%>"><%=block.number%></a>
                                    <span>(<%=block.timestamp%>)</span>
                                    <br>
                                    mined by
                                    <a href="/addr?a=<%=block.miner%>"><%=block.miner%></a><br>
                                    <span>txs <%=block.transactions.length%> </span><br>
                                    <span>uncles <%=block.uncles.length%></span>
                                    <!-- <span>3.375 eth</span> -->
                                </div>
                                
                            </div>
                        </li>
                    <%})%>                    
                    
                </ul>

            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        <div class="card card-success">
            <div class="card-header clearfix col-header">

                <span class="float-left">Recent transactions</span>
                <!-- <button type="button" class="btn btn-outline-primary btn-sm float-right">View all</button> -->

            </div>
            <div class="card-body scrollbar block-col style-1 padding-0">

                <ul class="list-group" id="list-txs">
                    <li class="list-group-item list-group-item-success">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-secondary">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>

                    </li>
                    <li class="list-group-item list-group-item-info">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>

                    </li>
                    <li class="list-group-item list-group-item-danger">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-primary">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-dark">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                    <li class="list-group-item list-group-item-light">
                        tx
                        <a href="#">0x8827175e28e...357acc889e64</a>
                        <br> from
                        <a href="#">0x88271500...44889e64</a> to
                        <a href="#">0x44889e64...44889e64</a>
                        <br>
                        <span>amount 19.378ETH</span>
                        <span class="float-right">90s ago</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
